
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: "Poppins", sans-serif;
  background-color: rgba(131, 199, 107, 0.2);
}
.container {
  max-width: 90%;
  margin: auto;
}
.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
a {
  text-decoration: none;
  color: #000;
  text-transform:capitalize;
}
ul {
  list-style-type: none;
  justify-content: space-evenly;
}
button {
  
  border-radius: 15px;
  padding: 14px 25px;
  background: #5F8D4E;
  border: none;
  color: #fff;
  cursor: pointer;
  font-weight: bold;
}
button i {
  margin-right: 5px;
  
}



/* SERVICES*/

li {
  overflow: hidden;
}

p {
  font-size: 16px;
  font-family: Poppins, sans-serif;
}

.container {
  width: 80%;
  margin: 0px auto;
} 

.white {
   color: #fff !important;
}

.d__flex {
  display: flex;
}

.row {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  overflow: hidden;
  align-items: flex-start;
  justify-content: center;
}

.col__2{
  max-width: 50%;
  display: flex;
  padding: 20px;
  justify-content: center;
  flex-direction: column;
}
.component__space {
  padding: 100px 0;
}

.pointer {
  cursor: pointer;
}

svg {
  stroke-width: 1 !important;
  margin-top: 10px;
}

button.btn {
  font-size: 18px;
  font-weight: 500;
  border-radius: 5px;
  border: 2px solid #f9004d;
  background-color: #f9004d;
  color: #fff !important;
  text-transform: uppercase;
  letter-spacing: 2px;
  transition: .4s all ease;
  height: 50px;
  width: 180px;
  margin: 0 10px;
}

.p__color {
  color: rgba(22, 22, 22, 0.7);
  font-size: 18px;
  line-height: 30px;
  margin-bottom: 15px;
}

button.about.btn.pointer:hover {
  background: #fff;
  color: #000 !important;
}

@media only screen and (max-width: 800px) {
    .col__2 {
     max-width: 100%;
     
    }
}


.col__3 {
  max-width: 33.333333%;
  display: flex;
  padding: 20px;
  justify-content: center;
  flex-direction: column;
  margin-top: 20px;
}




/* Anounces*/
section{
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #FFF;
  
  
}


.cards{
  display: flex;
  flex-wrap: wrap ;
  justify-content: space-between;
  
}

.card{
  flex: 0 0 calc(33.33% - 20px);
  max-width: calc(33.33%  - 20px);
  width: 100%;
  height: max-content;
  background: #fff;
  padding: 20px;
  margin-bottom:20px ;
  transition: .3s;
  border: 2px solid transparent;
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, .2);
  
}

.card h3{
  font-size: 18px;
  font-weight: 600;
  justify-content: center;
  justify-items: center;
}

.card:hover{
  border-color: green ;
}

.titles{
 background-color: #5F8D4E;
 color: #fff;
 width:100%;
 margin-top: -3%;
 text-align: center;
}

.prices{
  font-weight: 400;
  text-align: right;
  margin-top: -10%;
  
  
}


.images{
  width: max-content;
  height:50%;
  width: 100%;
  margin-top: 5%;
}



.texts{
  font-weight:400;
  text-align: center;
  margin-top: 2%;

}

.profs{
  text-align: center;
  margin-top: 2%;
  font-weight: 300;
}



@media(max-width: 800px){
  .card{
    flex: 0 0 100% ;
    max-width: 0 0 100%;

  }
}


.App {
  
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.register{
  max-width: 978px;
  width: 80vw;
  height: 500px;
  display:flex;
  border: 1px solid #e9ecef;
  border-radius: 5px;
  background-color: white;
  margin-top: 50px;
 
  
  
}

.register span{
  color: #adb5bd;
  margin-left: 40px;
}

#form1{
  max-width: 330px;
  width: 100vw;
  margin: 1em auto;
  height: max-content;
  background-color: white;
  
}

#form1 >  input, .btn2{
  border: 1px solid #5F8D4E;
  padding: .9em 1em;
  margin-top: 10px;
}

#form1 > input:focus{
  outline: none;
}

#form1 > .btn2{
  background-color:#5F8D4E;
  color: #e9ecef;
  font-size: 1em;
  cursor: pointer;
  border: none;
  
}

.flex{
  display: flex;
  gap: 1em;
}

.flex-col{
  flex-direction: column;

}

.register .col-1{
  margin: auto;
  padding: 2em 0;
}

.register .col-1 h2{
  margin-left: 100px;
}

.register .col-2 img{
  width: 450px;
  height: 500px;
  object-fit: cover;
  align-self: flex-end;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  display: none;
}

@media screen and (min-width: 860px)  {
  .register .col-2 img{
    display: initial;
  }
}








/*css ta3 signup*/
.register1{
  max-width: 978px;
  width: 80vw;
  height: 500px;
  display:flex;
  border: 1px solid #e9ecef;
  border-radius: 5px;
  background-color: white;
  margin-top: 50px;
 
}



.register1 span{
  color: #adb5bd;
  margin-left: 540px;
}

#form2{
  max-width: 330px;
  width: 100vw;
  margin: 1em auto;
  height: max-content;
  background-color: white;
  margin-left: 500px;
  
}

#form2 >  input, .btn2{
  border: 1px solid #5F8D4E;
  padding: .9em 1em;
  margin-top: 10px;
}

#form2 > input:focus{
  outline: none;
}

#form2 > .btn2{
  background-color:#5F8D4E;
  color: #e9ecef;
  font-size: 1em;
  cursor: pointer;
  border: none;
  
}

.flex{
  display: flex;
  gap: 1em;
}

.flex-col{
  flex-direction: column;

}

.register1 .col-4{
  margin: auto;
  padding: 2em 0;
}

.register1 .col-4 h2{
  margin-left: 600px;
}

.register1 .col-3 img{
  width: 450px;
  height: 500px;
  object-fit: cover;
  align-self: flex-end;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  display: none;
  margin-left: -200%;
}

@media screen and (min-width: 860px)  {
  .register1 .col-3 img{
    display: initial;
  }
}
